@media (max-width:  575px){
	#parte2{
		 margin-top: 39px; 
	}
	.imgs{
		margin-top: 990px;
	}
	#
	#contato div{
		width: 90%;
		text-align: center;
	}
	.parallax{
	}

	#linha{
		margin-top: 170px;
	}
}	